.card3 {
    width: 478px;
    border-radius: 15px;
    height: 400px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: grid;
}

.background-image {
    height: 150px;
    width: 100%;
    background: url('./Background.svg') no-repeat center center/cover;
    /* background-color: red; */
}
.seti{
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-info {
    text-align: center;
    /* padding: 20px; */
    position: relative;
}

.profile-image {
    position: absolute;
    top: -110px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #fff;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.upload-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-icon img {
    width: 16px;
    height: 16px;
}


.noti-fay {
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
}

.notifications-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.notification-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.notification-item .title {
    margin-left: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(14px);
}


.logout-button:hover {
    background-color: #ff1a1a;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.confirm-button, .cancel-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.confirm-button {
    background-color: #4CAF50;
    color: #fff;
}

.confirm-button:hover {
    background-color: #45a049;
}

.cancel-button {
    background-color: #ff4d4d;
    color: #fff;
}

.cancel-button:hover {
    background-color: #ff1a1a;
}
